
 <div class= "sub_side_bar">
 
  <li><%=link_to"TOPページへ","#"%></li>
  <li><%=link_to "チャットルームへ","#" %></li>
  <li><%=link_to "マイページへ","#"%></li>
  <li>その他</li>
  <li><%=link_to"検索","#"%></li>
 


</div>