<div class="wrapper_chat">


<div class="room">

  <ul>
   <h1>チャットルーム一覧</h1>
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
 

  </ul>
</div>

     <div class="chat-create">
<div class="chat">
<%= link_to "チャットを作成する", new_room_path %>
</div>
<div class="event">
<%= link_to "スケジュール確認/作成",events_path(current_user.prefecture_now_id)%>
</div>
</div>


<div class="side-bar">
<%= render partial: "room" %>
</div>
</div>
