<div class="tweet_all">
 <div class ="tweet_title">
 <%="Title:#{tweet.title}"%> <%="#{(tweet.prefecture.name)}"%>
 
 </div>
 <div class="tweet_image">
  <%= link_to image_tag(tweet.image), tweet_path(tweet.id) %>
  </div>
  
    <div class="tweet_text">
    <span class="box-title">投稿者から一言</span>
<p><%=tweet.text%></p>
</div>
</div >

