<div class="main">
  

  <div class="side-bar">
  <%= render partial: "chat_rooms/room" %>
  </div>
  
  <div class="main_cont">
  <div class="main_prefecture">
  <div class="prefecture_tweet">
  <div class="tweet_show">
  活動情報(都道府県をクリックしてください)
  </div>
  <p>
   <%= render partial: "prefecture" %>
  </p>
 </div>
 </div>
  
  


</div>
</div>
