<%= link_to 'イベント追加',  new_chat_room_event_path %> 

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
<% events.each do |event| %>
    <div>
      <%=link_to event.title,chat_room_event_path(event.id) %>
    </div>
  <% end %>
<% end %>
