<div class="tweet_all">
 <div class ="tweet_title">
 <%="Title:#{prefecture_tweet.title}"%>
 </div>
 <div class="tweet_image">
  <%= link_to image_tag(prefecture_tweet.image), tweet_path(prefecture_tweet.id) if prefecture_tweet.image.attached? %>
  </div>
  
    <div class="tweet_text">
    <span class="box-title">投稿者から一言</span>
<p><%=prefecture_tweet.text%></p>
</div>
</div >

