// Place all the styles related to the chat_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper_chat {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.line_room {
  display: flex;
  position: relative;
}

