// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_event {
  display: flex;
  flex-direction: column;
  text-align: center;
  

}

.event_schedule {
  resize: none;
  width: 40%;
  height: 400px;
  
  
}

.event_text {
  width: 40%;
  
}

