// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$titleColor:   #273246; //タイトル背景色
$baseColor:    #7494c0; // 背景色
$myTextColor:  #8de055; // 吹き出しの色