.wrapper {
  display: flex;
  position: relative;
}

.room  {
 
  width: 300px;
  height: 100vh;
  background:#333366;
  padding: 20px 0 40px;
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
  
  
}

.room h1 {
  color: #fafafa;
}

.room li {
  margin: 20px;
}

.room a {
  color:white;
}





.user-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat-create a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  
  
}

.chat-create {
  display: flex;
  width: 500px;
  justify-content: space-between;
  
}

.chat  {
  margin-top: 10px;
  margin-left: 10px;
}





.room-name a {
  text-decoration: none;
  color: white;
}







